<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="data.js"></script>
</head>
<body>
    <div class="input-group rounded mb-3">
                <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                  aria-describedby="search-addon" id="cityname"/>
                <a href="#!" type="button">
                  <span class="input-group-text border-0 fw-bold" id="search-addon" onclick="gettimedata()">
                    Check!
                  </span>
                </a>
              </div>
                    <h4 class="mb-0" id="city"></h4>
                    <p class="mb-2" id="timezone">0 
                    <p class="mb-2" id="date">0 
                    <p class="mb-2" id="time">0</p>
</body>
</html>